../_Resparper*
..\_Resparper*
WindowsPhoneApplication1\Bin\*
WindowsPhoneApplication1/Bin/*
WindowsPhoneApplication1\obj\*
WindowsPhoneApplication1/obj/*
WindowsPhoneApplication1\WindowsPhoneApplication1.csproj.user